{
  "julius": {
    "port"     : 10500,
    "binPath"  : "/opt/julius/bin/julius",
    "jconfPath": "/opt/julius/julius.jconf",
    "dictPath" : "/tmp/dictionary.dict"
  },

  "voiceToCmds": [
    {
      "name" : "light_power_on",
      "voice": "でんきつけて",
      "cmd"  : "/opt/irkit/send.sh /opt/irkit/json/light_power_toggle.json"
    },
    {
      "name" : "light_power_off",
      "voice": "でんきけして",
      "cmd"  : "/opt/irkit/send.sh /opt/irkit/json/light_power_toggle.json"
    }
  ]
}

